.background{
background-color: black;
height: 645px;
border-radius: 30px;
display: flex;
}
.text{
    width:70%;
}
.text > h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size:52px;
    padding-left: 13%;
    padding-top: 10%;
   
}

.text > p{
    font-family: 'Poppins', sans-serif ;
    color: white;
    font-size: 20px;
    padding-left: 13%;
}
.button{
    text-decoration: none;
    background-color: red;
    padding:13px 20px;
    color: white;
    border-radius: 5px;
}

.watch-live{
    padding-top: 4%;
    padding-left: 13%;
}
.img {
    padding-top:4%;
    height: 95%;
    width:100%;
}
.aside{
    padding-top:7%;
    
}
.all-button{
    background-color: black;
    height:250px;
    padding-left: 3%;
    width: 200px;
   border-radius: 20px;
   display:block;
}
.upcoming-button{
    text-decoration: none;
    background-color: red;
    padding:13px 24px;
    color: white;
    border-radius: 5px;
}
.group-button{
    text-decoration: none;
    background-color:white;
    padding:13px 47px;
    color: black;
    border-radius: 5px;
}
.blog-button{
    text-decoration: none;
    background-color: white;
    padding:13px 65px;
    color: black;
    border-radius: 5px;
}
.menu{
    padding-top: 22%;
}
.menu1{
    padding-top: 25%;
}
.menu2{
    padding-top: 27%;
}