.background{
background-color: black;
height: 645px;
border-radius: 30px;
display: flex;
}
.text{
    width:70%;
}
.text > h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size:52px;
    padding-left: 13%;
    padding-top: 10%;
   
}

.text > p{
    font-family: 'Poppins', sans-serif ;
    color: white;
    font-size: 20px;
    padding-left: 13%;
}
.button{
    text-decoration: none;
    background-color: red;
    padding:13px 20px;
    color: white;
    border-radius: 5px;
}

.watch-live{
    padding-top: 4%;
    padding-left: 13%;
}
.img {
    padding-top:4%;
    height: 95%;
    width:100%;
}
.aside1{
    padding-top:7%;
   display: grid;
   grid-template-columns: repeat(4, 3fr);
    
}
.all-button{
    background-color: black;
    height:260px;
    padding-left: 3%;
    width: 200px;
   border-radius: 20px;
   display:block;
}
.upcoming-button{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding:13px 26px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size:20px ;
}
.group-button{
    text-decoration: none;
        background-color:white;
        padding:13px 55px;
        color: black;
        border-radius: 5px;
        font-size: 20px;
}
.blog-button{
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    padding:13px 75px;
    color:white;
    border-radius: 5px;
    font-size: 20px;}
.menu{
    padding-top: 22%;
}
.menu1{
    padding-top: 25%;
}
.menu2{
    padding-top: 27%;
}
.body1{
    border: 1px solid black;
    border-radius: 5px;
    width:350px;
}
.body2{
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
}
.body3{
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
}
.body4{
    border: 1px solid black;
    border-radius: 5px;
}
.body5{
    border: 1px solid black;
    border-radius: 5px;
}
.body6{
    border: 1px solid black;
    border-radius: 5px;
}
.body7{
    border: 1px solid black;
    border-radius: 5px;
}
.body8{
    border: 1px solid black;
    border-radius: 5px;
}
.body9{
    border: 1px solid black;
    border-radius: 5px;
}
.box{
    padding-left:4%;
    padding-top: 2%;
}
.box button{
    font-size:20px;    
    border-radius: 5%;
}
.all1 img{
    width: 100%;
} 
.transfer1{
    width: 100%;}
.all1{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 7%;
}
.fa-message{
    padding-left: 4%;
}
.fa-clock{
    padding-left: 4%;
}
.text1 p{
    padding-left: 4%;
}
nav{
    background-color: black;
    height: 300px;
  
}
.goal{
    font-size: 30px;
    text-align: center;
    width: 1000px;
    color: aliceblue;
    padding-left: 20%;
    padding-top: 3%;
}
nav ul{
    display: flex;
    padding-left: 28%;
    padding-top: 2%; 
    
}
nav li:hover{
    background-color: lightgray;
    padding: 3px 10px ;
    
   
}
nav li{
        list-style: none;
        margin-right: 30px ;
      
    }
nav li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        
    }
    footer{
        padding-top: 7%;
    }
.facebook{
    color: rgb(10, 135, 244);
    padding-left:49%;
}
.instagram{
    color:rgb(234, 130, 130);
   padding-left: 2%;
}
.twitter{
    color: rgb(10, 135, 244);
    padding-left: 2%;
}
.foin i{
    font-size: 25px;
}
.foin{
    display: flex;
    padding-top: 1%;
}
